.shop-header
    display: flex
    align-items: center
    justify-content: space-between
    padding:  3rem 2rem
    background: white
    color: black
    nav a
        margin-left: 1rem
        color: black
